<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    {% include 'partials/head.html' %}
    <body>
        <!-- Page Wrapper -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!--
            Available classes:

            'page-loading'      enables page preloader
        -->
        <div id="page-wrapper" class="page-loading">
            <!-- Preloader -->
            <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
            <!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
            <div class="preloader">
                <div class="inner">
                    <!-- Animation spinner for all modern browsers -->
                    <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

                    <!-- Text for IE9 -->
                    <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
                </div>
            </div>
            <!-- END Preloader -->

            <!-- Page Container -->
            <!-- In the PHP version you can set the following options from inc/config file -->
            <!--
                Available #page-container classes:

                'sidebar-light'                                 for a light main sidebar (You can add it along with any other class)

                'sidebar-visible-lg-mini'                       main sidebar condensed - Mini Navigation (> 991px)
                'sidebar-visible-lg-full'                       main sidebar full - Full Navigation (> 991px)

                'sidebar-alt-visible-lg'                        alternative sidebar visible by default (> 991px) (You can add it along with any other class)

                'header-fixed-top'                              has to be added only if the class 'navbar-fixed-top' was added on header.navbar
                'header-fixed-bottom'                           has to be added only if the class 'navbar-fixed-bottom' was added on header.navbar

                'fixed-width'                                   for a fixed width layout (can only be used with a static header/main sidebar layout)

                'enable-cookies'                                enables cookies for remembering active color theme when changed from the sidebar links (You can add it along with any other class)
            -->
            <div id="page-container" class="header-fixed-top">

                <!-- Main Container -->
                <div id="main-container">
                    <!-- Header -->
                    <!-- In the PHP version you can set the following options from inc/config file -->
                    <!--
                        Available header.navbar classes:

                        'navbar-default'            for the default light header
                        'navbar-inverse'            for an alternative dark header

                        'navbar-fixed-top'          for a top fixed header (fixed main sidebar with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                            'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                        'navbar-fixed-bottom'       for a bottom fixed header (fixed main sidebar with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                            'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                    -->
                    <header class="navbar navbar-inverse navbar-fixed-top">
                        <!-- Left Header Navigation -->
                        <ul class="nav navbar-nav-custom">

                            <!-- Header Link -->
                            <li class="hidden-xs animation-fadeInQuick">
                                <a href=""><strong>{{ site_name }}</strong></a>
                            </li>
                            <!-- END Header Link -->
                        </ul>
                        <!-- END Left Header Navigation -->

                        <!-- Right Header Navigation -->
                        <ul class="nav navbar-nav-custom pull-right">

                            <!-- User Dropdown -->
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="img/placeholders/avatars/avatar9.jpg" alt="avatar">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        <strong>ADMINISTRATOR</strong>
                                    </li>
                                    <li>
                                        <a href="page_ready_login.html">
                                            <i class="fa fa-power-off fa-fw pull-right"></i>
                                            Log out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END User Dropdown -->
                        </ul>
                        <!-- END Right Header Navigation -->
                    </header>
                    <!-- END Header -->

                    <!-- Page content -->
                    <div id="page-content">
                        <!-- First Row -->
                        <!-- CKEditor Block -->
                        <div class="block">

                            <!-- CKEditor Content -->
                            <form action="/post_tweet" method="post" class="form-horizontal form-bordered" ><!-- Hidden input to store the content -->
                                <input type="hidden" name="tweet-field" id="tweet-field">
                                <!-- CKEditor, you just need to include the plugin (see at the bottom of this page) and add the class 'ckeditor' to your textarea -->
                                <!-- More info can be found at http://ckeditor.com -->
                                {% csrf_token %}
                                <fieldset>
                                    <legend><i class="fa fa-angle-right"></i> Preview Tweet</legend>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div id="inplace-ckeditor" contenteditable="true">
                                                <!-- Blockquotes -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <!-- Blockquote Left Block -->
                                                        <div class="block full">
                                                            <!-- Blockquote Left Title -->
                                                            <div class="block-title">
                                                                <h4>Edit Tweet</h4>
                                                            </div>
                                                            <!-- END Blockquote Left Title -->

                                                            <!-- Blockquote Left Content -->
                                                            <div class="clearfix">
                                                                <blockquote class="pull-left">
                                                                    <p id="tweet-content">{{ summarized_tweet }}</p>
                                                                </blockquote>
                                                            </div>
                                                            <!-- END Blockquote Left Content -->
                                                        </div>
                                                        <!-- END Blockquote Left Block -->
                                                    </div>
                                                </div>
                                                <!-- END Blockquotes -->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Attached Image:</p>
                                                    <img src="{{ album_art_url }}">
                                                    {% if album_art_url %}
                                                        <input type="hidden" name="album_art_url" value="{{ album_art_url }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group form-actions">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <!-- END CKEditor Content -->
                        </div>
                        <!-- END CKEditor Block -->
                        <!-- END First Row -->

                    </div>
                    <!-- END Page Content -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        {% include 'partials/footer.html' %}
    </body>
    <!-- ckeditor.js, load it only in the page you would like to use CKEditor (it's a heavy plugin to include it with the others!) -->
    <script src="js/plugins/ckeditor/ckeditor.js"></script>

    <!-- Load and execute javascript code used only in this page -->
    <script src="js/pages/formsComponents.js"></script>
    <script>$(function(){ FormsComponents.init(); });</script>
    <script>
        // Copy the content of #inplace-ckeditor to the hidden input on form submission
        document.querySelector('form').addEventListener('submit', function (e) {
            const editorContent = document.getElementById('tweet-content').innerHTML;
            document.getElementById('tweet-field').value = editorContent;
        });
    </script>
</html>